.user-header {
    background-color: rgb(54, 104, 107);
    color: white;
    min-height: 250px;
    display: flex;
    align-items: flex-end;

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.user-details {
    margin-left: 32px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
}